@(favorite:Form[UpdateFavoriteForm],user: Seq[User])(implicit request: MessagesRequestHeader,flash:Flash)

@import helper._
@flash.get("success").getOrElse("")
    @form(routes.FavoriteController.updateFavoriteHandle()) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@favorite("id").value" type=""hidden/>



    <select name="user" id="user">
    @for(us <- user){
        <option value="@us.id_user">@us.email</option>
    }
    </select>


    <div class="buttons">
        <input type="submit" value="Update Favorite"/>
    </div>
}