@(product:Form[UpdateProductForm], category: Seq[Category],manufacturer: Seq[Manufacturer])(implicit request: MessagesRequestHeader,flash:Flash)

@import helper._
@flash.get("success").getOrElse("")
    @form(routes.ProductController.updateProductHandle()) {

    @helper.CSRF.formField
    <input name="id" id="id" value="@product("id").value" type=""hidden/>
    @inputText(product("name"))
    @inputText(product("description"))

    <select name="category" id="category">
    @for(categ <- category){
        <option value="@categ.id_category">@categ.category_name</option>
    }
    </select>
    <select name="manufacturer" id="manufacturer">
    @for(manuf <- manufacturer){
        <option value="@manuf.id_manufacturer">@manuf.name_manufacturer</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Category"/>
    </div>
}