@(favorite: Form[CreateFavoriteForm],product: Seq[Product],user: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.FavoriteController.addFavoriteHandle()) {
    @helper.CSRF.formField
    @inputText(favorite("product_name"))

    <select name="user" id="user">
    @for(us <- user){
        <option value="@us.id_user">@us.email</option>
    }
    </select>
    <select name="product" id="product">
    @for(product <- product){
        <option value="@product.id_product">@product.product_name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add favorite"/>
    </div>
}